/* style="background: #ccc url(test.jpg); padding: 0.5em 1em" */
@font-face {
    font-family : pixelOperator;
    src : url(/fonts/PixelOperator.tff) format('truetype'),
          url(/fonts/PixelOperator.woff) format('woff');

}

body {
    background-color: rgb(205, 205, 205);
}

#title {
    font-family : pixelOperator;
    font-size : 46pt;
    text-align : center;
}

button {
    font-family : pixelOperator;
}

button.btn_small {
    outline : none;
    background : url(/images/button_64.png);
    background-repeat : no-repeat;
    width : 64px;
    height : 22px;
    border : 0;
    font-size: 11pt;
    image-rendering: pixelated;
}

button.btn_small:hover {
    background : url(/images/button_64_hover.png);
}

button.btn_small:active {
    background : url(/images/button_64_active.png);
}

div.center {
    align-items: center;
    justify-content: center;
    display: flex;
}  

#form_login form {
    align-content: center;
    text-align: center;
    vertical-align: middle;
}

label, input {
    font-family : pixelOperator;
    font-size: 13pt;
}

table {
    width : 60%;
}

textarea {
    font-family : pixelOperator;
    font-size: 13pt;
    resize : none;
}