/* style="background: #ccc url(test.jpg); padding: 0.5em 1em" */
@font-face {
    font-family : pixelOperator;
    src : url(/fonts/PixelOperator.tff) format('truetype'),
          url(/fonts/PixelOperator.woff) format('woff');

}

#title {
    font-family: pixelOperator;
    font-size: 46pt;
    text-align: center;
}

.container div {
    margin: auto;
    width: 100%;
    align-content: center;
    display: inline-block;
}  

#form_login form {
    align-content: center;
    text-align: center;
    vertical-align: middle;
}


table {
    width : 60%;
}

textarea {
    font-family : pixelOperator;
    font-size: 13pt;
    resize : none;
}