<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Haxer</title>

  <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>

<body>

    <div id="mailList"> 

        <table>
        <tr>
            <th>TITLE</th>
            <th>SENDER</th> 
            <th>EXPIRY</th>
            <th>STATUS</th>
        </tr>
        </table>
    </div>

    <div id="mail">
        <textarea rows="12" cols="120" readonly>
        
        Greetings, JC

            I've got a job for you. A big one. Think you're up to the task?

            Deadline : 12/03/2017
            Reward : 1000

            Best of luck, Bob Page
        </textarea>
    </div>

    <button type="submit" disabled>Reply</button>
    <!-- <script src="js/scripts.js"></script> -->
</body>
</html>