<!doctype html>

<html lang="en">
<head>

  <meta charset="utf-8">

  <title>Haxer</title>

  <link rel="stylesheet" href="./styles/style.css?v=1.0">

</head>

<body>

    <div class="center">
        <h1 id="title">HAXER</h1>
    </div>

    <div class="center">
        <form id="form_login" action="./" method="POST">

            <div class="center">
                <label for="uname"><b>Username:</b></label>
                <input type="text" placeholder="Enter Username" name="username" required>
            </div>

            <br>

            <div class="center">
                <label for="psw"><b>Password:</b></label>
                <input type="password" placeholder="Enter Password" name="password" required>
            </div>
            
            <br>

            <div class="center">
                <button class="btn_small" type="submit">Login</button>
            </div>
        </form>
    </div>
</body>
</html>